*{
          margin: 0%;
          padding: 0%;
}
.container{
          height: 50vh;
          width: 100%;

}
body{
          background-color: black;
          
}
#language{
    background-color:black ;
    color: white;
    padding: 2px;
    font-size: 10px;

}
.heder{
          margin: 0 auto;
          color: white;
          height: 20px;
          width: 50px;
          padding: 100px;
          margin-top: 2px;
}
.container{
          height: 500px;
          width: 400px;
          margin-top: 10px;

          
}
.img{
          height: 500px;
          width: 1500px;
          padding: 10px;
          margin-bottom: 10px;
          
          

}
.imag2{
          height: 60px;
          width: 150px;
          padding: 2px;
          position: absolute;
}

 main{
          display: flex;
          height: 150px;
          width: 3000px;
          justify-content: space-between;
          gap: 50px;
          padding-left: 40px;
          margin: 0 auto;
}
.item{
          color: white;
          text-align: center;
          position: absolute;
          top: 40%;
          left: 40%;
          text-align: center;
          z-index: 100;
          font-size: 40px;
          justify-content: center;
          margin: 0auto;
          
}


.btn{
          background-color: brown;
          color: white;
          padding: 12px;
          margin: 20px;
          border-radius: 5px;
          font-size: 18px;
          margin-top: 40px;
          justify-content: right;
          

}
.trend{
          color: white;
          margin-top: 80px;
}
.second{
          display: flex;
          align-items: start;
}
.sign{
          height: 20px;
          width: 50px;
          gap: 100px;

}
.box{
          width: 80px;
          padding: 20px;
          border-radius: 8px;
          text-align: center;
          
}
.features{
          display: flex;
          justify-content: space-around;
          height: 200px;
          width: 1000px;
          color:white;
          gap: 20px;
}
.faq-box {
    background: #2d2d2d;
    padding: 20px;
    margin: 10px 0;
    font-size: 20px;
    cursor: pointer;
    color: white;
    
}
.para{
          color: white;
          align-items: center;
          margin: 0auto;
          justify-content: center;
          height: 50px;
          width: 1000px;
          
        
}

.para1{
          color: white;

}
.last{
          color: white;
          display: flex;
          justify-content: space-between;
}
.pl{
          color: white;
}
.bt{
          background-color: brown;
          border: none;
          color: white;
    
        
}.email{
          height: 20px;
          width: 200px;
          left: 40px;
}
.box{
    height: 20px;
    width: 1200px;
    margin-bottom: 30px;
    margin-top: 80px;
}
.em{
    height: 20px;
    width: 300px;
}