*{
          margin: 0%;
          padding: 0%;
}
.container{
          height: 100%;
          width: 100%;

}
body{
          background-color: black;
          
}
#language{
    background-color:black ;
    color: white;
    padding: 2px;
    font-size: 10px;

}
.heder{
          margin: 0 auto;
          color: white;
          height: 20px;
          width: 50px;
          padding: 100px;
          margin-top: 2px;
}
.container{
          
          height: 500px;
          width: 400px;


          
}
.img{
    height: 500px;
    width: 1500px;
}
.imag2{
          height: 60px;
          width: 150px;
          padding: 2px;
          position: absolute;
}

 main{
          display: flex;
          height: 150px;
          width: 3000px;
          justify-content: space-between;
          gap: 50px;
          padding-left: 40px;
          margin: 0 auto;
}
.item{
          color: white;
          text-align: center;
          position: absolute;
          top: 30%;
          left: 30%;
          text-align: center;
          z-index: 100;
          font-size: 60px;
          justify-content: center;
          margin: 0auto;
          padding-right: 200px;
        
          
}
.pa{
    font-size: 20px;
    margin-top: 150px;
    position: absolute;
    left: 2px;
    right: 20%;
    
    
    
    
}
.address{
    position: absolute;
    top: 60%;
    left: 35%;
    margin: 0 auto;
    height: 30px;
    width: 200px;
 
}
.start{
    color: white;
    background-color: red;
    position: absolute;
    top: 60%;
    left: 45%;
    height: 30px;
    width: 100px;
    border: none;
}


.btn{
          background-color: brown;
          color: white;
          padding: 80px;
          border-radius: 5px;
          font-size: 18px;
          margin-left: 20px;
          justify-content: center;
          

}
.trend{
          color: white;
          margin-top: 80px;
          padding-bottom: 20px;
          font-size: 20px;
        
}
.second{
          display: flex;
          align-items: start;
}
.sign{
          height: 20px;
          width: 50px;
          gap: 100px;

}
.box{
          width: 80px;
          padding: 20px;
          border-radius: 8px;
          text-align: center;
          
}
.features{
          display: flex;
          justify-content: space-around;
          height: 200px;
          width: 1000px;
          color:white;
          gap: 20px;
          background-color:cornflowerblue;
          justify-content: space-between;
}
.head{
    margin: 20px;
    color: white;
    font-size: 20px;
}
.faq-box {
    background: #2d2d2d;
    padding: 20px;
    margin: 10px 0;
    font-size: 20px;
    cursor: pointer;
    color: white;
    
}
.para{
          color: white;
          margin: 0auto;
          justify-content: center;
          height: 50px;
          width: 1000px;
          font-size: 20px;
          padding-left: 100px;
          margin-bottom: 4px;
          
        
}

.para1{
          color: white;
          margin: 70px;
          font-size: 20px;

}
.last{
          height: 100px;
          width: 100px;
          color: white;
}


.footer{
    display: flex;
    height: 100px;
    width: 100px;
    color: aliceblue;
    justify-content: space-between;

}
.item{
    display: flex;
}


.pl{
          color: white;
}
.bt{
          background-color: brown;
          border: none;
          color: white;
          height: 30px;
          width: 100px;
    
        
}.email{
          height: 20px;
          width: 200px;
          left: 40px;
}
.box{
    height: 20px;
    width: 1200px;
    margin-bottom: 30px;
    margin-top: 80px;
}
.em{
    height: 30px;
    width: 300px;
}
.mail{
    justify-content: center;
    align-content: center;

}

.site{
    height: 30px;
    width: 80px;
    padding-left: 10px;
    padding-right: 10px;

}


.btns{
    height: 30px;
    width: 80px;
    

}
.qution{
    font-size: 20px;
    color: white;
    margin-top: 20px;
    padding: 10px;
}
