*{
          margin: 0%;
          padding: 0%;
}
     
.container{
          height: 100%;
          width: 100%;
          border: 2px solid red;
          display: flex;
         /* justify-content: center;
          justify-content: space-between;*/
          align-items: end;
         /*align-items: center; isme space barbar nh deta hai*/
          align-content: center;
          flex-wrap: wrap;
          gap: 70px;
          margin: 0 auto;

}
.item{
          height: 50px;
          width: 50px;
          border:2px solid green ;
          background-color: aquamarine;
          margin-top: 10px;
          position: absolute;
          top: 100px;
          left: 40px;
}
#item3{
          order: 1;
}
.img2{ 
          position: relative;
}
.fq{
          height: 20px;
          width: 30px;
          display: flex;
}
.para{
          height: 20px;
          width: 10px;
}