* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color:white;
}

header {
    display: flex;
    justify-content: space-between;
    background: white;
    height: 40px;

    
}

header .create {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}


.hero {
    background:bisque;
    width: 100%;
    margin: 30px auto;
    padding: 40px;
    border-radius: 10px;
    
}

.hero .text h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 25px;
    background: black;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 20px;
}

.hero .icons {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.hero .icons img {
    height: 100%;
    width: 100%;
}

.features {
    display: flex;
    width: 100%;
    margin: 20px auto;
    gap: 20px;
}


.box {
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    margin: 0auto;
   
}

.box h3 {
    margin-bottom: 10px;
}
.icons{
    justify-content: center;
    height: 30px;
    width: 60px;
}
.footer{
   margin: 20px;
   width: 100px;
   display: flex;
}
.last{
    display: flex;
    height: 30px;
    width: 1000px;
    gap: 100px;
    margin: 30px;
    padding: 10px;
    
    
}
.item{
    font-size: 15px;
    justify-content: start;
}
.final{
    height: 5px;
    width: 10px;
    margin: 30px;
    gap: 30px;
}